.container {
    margin: 0rem 15rem;
}

.container-nav {
    border-bottom: 1px solid var(--color-dark);
    gap: 25rem;
}

.nav {
    font-size: 1.5rem;
}

.container-1 {
    margin: 8rem 15rem;
}

.head-1 {
    margin-bottom: 4rem;
}

.para-1 {
    font-size: 1.6rem;
}

.div-2 {
    margin-bottom: 5rem;
}

.container-2 {
    margin: 0rem 15rem;
}

.center {
    margin-bottom: 5rem;
}

.child-2 {
    gap: 6.5rem;
    margin-bottom: 5rem;
}

.para-2 {
    font-size: 1.6rem;
}

.container-3 {
    margin: 0rem 15rem;
}

.parent-3 {
    margin-bottom: 5rem;
}

.para-3 {
    font-size: 1.4rem;
}

.one-div {
    margin: 4rem 0rem;
}
.child-4 {
    width: 30rem;
    height: 44rem;
    background-color: var(--color-dark);
    border-radius: 2rem;
}

.head-4 {
    font-size: 1.5rem;
}

.para-4 {
    font-size: 1.3rem;
}

.parent-5 {
    margin-top: 4rem;
    margin-bottom: 8rem;
}
.gujranwala {
    font-size: 1.4rem;
}

.adress {
    font-size: 1.5rem;
}

#box-last {
    margin-bottom: 8rem;
}

.container-8 {
    margin: 0rem 18rem;
    gap: 2rem;
}

.parent-8 {
    margin: 6.5rem 0rem;
}

.width-8 {

    width: 400px;
}

.width-8-div-3 {

    width: 250px;
}

.para-8 {
    line-height: 2rem;
    font-size: 1.5rem;
}

.img-8 {

    position: absolute;
    left: 4rem;
    top: 5010px;
}

.head-8 {
    font-size: 1.6rem;
}

.site-link {
    font-size: 1.4rem;
}

.contact {
    width: 25%;
}

.head-office {
    font-size: 1.6rem;
}


.children-9 {

    margin: 10px;
 
}
.parent-9 {

    gap: 800px;
    font-size: 2.2rem;
}
.img-div-5 {
    width: 500px;
   margin-bottom: 4rem;
}