.container-1 {

    gap: 280px;
    font-size: 4rem;
}

.navbar {
    font-size: 2.4rem;
}

.container-3 {

    margin: 100px;
}

.text-div3 {

    font-size: 4rem;
}

.saltn-peper {

    font-size: 5rem;
}

.para-div3 {

    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.div3-img {

    margin-bottom: 3rem;
    width: 350px;
}

.img-4 {

    position: absolute;
    top: 1350px;
    right: 0;
}
 
.container-head-4 {

    margin-top: 8rem;
    margin-bottom: 4rem;
}

.container-4 {

    gap: 4rem;
}

.parent-4 {

    gap: 27rem;
}

.faisalabad {

    gap: 3.5rem;
}

.para-4 {

    font-size: 5rem;

}

.p4 {
    font-size: 1.6rem;
}

.islamabad {

    font-size: 1.3rem;
    letter-spacing: 0.6rem;
    font-family: Apercu;
    font-weight: 200;
}

.islamabad-saltn-peper {

    font-size: 3rem;
}

.islamabad-restaurant {

    font-size: 3rem;
    margin: 1rem 0rem;
}

.adress {

    font-size: 1.5rem;
    word-spacing: 0.2rem;
    line-height: 3rem;
}


.icon {

    font-size: 1.5rem;
}

.div-4 {
    margin: 2rem;
}

.container-5 {

    margin-top: 10px;
}

.bg-img-5 {
    position: absolute;
    margin-top: 1rem;
}

.parent-5 {

    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.sargodha {

    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    font-family: Apercu;
}

.para-5 {

    font-size: 2.5rem;
}

.adress-5 {

    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.child-text-5 {

    line-height: 40px;
}

.Express {

    gap: 3rem;
    line-height: 0.5rem;
}

.Express-2 {

    line-height: 2.5rem;

}

.Directions {

    margin-top: 4rem;
}

.container-6 {

    padding: 2rem 0rem;
}

.line-hei {

    line-height: 2.5rem;
}

.para-6 {

    margin-bottom: 3rem;
}

.green-btn {

    margin-top: 6rem;
}

.img-div-5 {
     width: 706px;
    margin-bottom: 4rem;
}

.child-7 {
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 400px;
    height: 250px;
    line-height: 3rem;
}

.img-7 {
    margin-top: 20px;
}

.small-7 {
    letter-spacing: 6px;
}

.grand-child-7 {

    letter-spacing: 0.5px;
}

.social-feed {
    font-family: Apercu;
}

.parent-7-div-5 {

    margin-top: 50px;
}

.img-7-div-6 {
    margin-bottom: 40px;
}

.container-8 {
    margin: 0rem 18rem;
    gap: 2rem;
}

.parent-8 {

    margin: 8rem 0rem;
}

.width-8 {

    width: 400px;
}

.width-8-div-3 {

    width: 250px;
}

.para-8 {
    line-height: 2rem;
    font-size: 1.5rem;
}

.img-8 {

    position: absolute;
    left: 4rem;
    top: 7210px;
}

.head-8 {
    font-size: 1.6rem;
}

.site-link {
    font-size: 1.4rem;
}

.contact {
    width: 25%;
}

.head-office {
    font-size: 1.6rem;
}


.children-9 {

    margin: 10px;
 
}
.parent-9 {

    gap: 800px;
    font-size: 2.2rem;
}